@charset "UTF-8";

/* Formatação do corpo da pagina */

body{
 font-family: Arial, sans-serif ;
 background-color:#606060;
 color:red
 
   
}
/* Formatação de interface */
div#interface{
    width:800px;
    background-color:#000000;
    margin: auto;
    box-shadow:0px 0px 10px rgba(0, 0, 0,.5) ;
    padding:10px;
    
    
    
}
/* Formatação de paragrafo*/
p{
    text-align:justify;
    text-indent:50px;
    
   
    

}

/* Formatação de links */
a{
    color:#606060;
    text-decoration:none;
    
}

a:hover{
    text-decoration:underline;
    text-decoration:none;
}


/* Formatação do menu  */
nav#menu{
 display:block;
}
nav#menu ul{
 list-style:none;
 text-transform:uppercase;
 position:absolute;
 top:-15px;
 left:300px;
}
nav#menu li{
 display:inline-block;
 background-color:#000000;
 padding:10px;
 margin:2x;
 
}
nav#menu li:hover{
 background-color:blue;
}

nav#menu h1{
    display:none;

}
nav#menu a{
    color:#ffffff;
    text-decoration:none
}
nav#menu a:hover{
    color:#ffffff;
    text-decoration:underline;
    

}
/* Formatação da imagem de noticias */
img#icone{
    position:absolute;
    left:1000px ;
    top:10px;
}
/* Formatação da seção */
section#secao{
    display:block;
    width:500px;
    float:left;
    border-right:1px solid #606060;
    padding-right:15px;
    color: blue;
    
    
    
}
/* Formatação da lateral */

aside#lateral{
 display:block;
 width:250px;
 float:left;
 background-color:#000000;
 color: blue;
 padding:10px;
 margin-top:0px;
 box-shadow:2px 2px 2px rgba(0, 0, 0,.5) ;

}
aside#lateral h1{
    font-family:sans-serif;
    font-size:13pt;
    color:#606060;
    margin-top:0px;

}

aside#lateral h2{
    background-color:#606060;
    font-size:15pt;
    color:#ffffff;
    padding:5px;
    
}
/*formatação do rodapé*/
footer#rodape{
    clear:both;
    border-top:20px solid #606060;
    

}
footer#rodape p{
    text-align:center;
    text-decoration:none;
}

/*formatação de artigo*/
article#noticia-principal h2 {
    font-size:13pt;
    color:#606060;
    background-color:#dddddd;
    padding: 5px 0px 5px 10px;
    margin:10px 0px 10px 0px;
}
header#cabecalho-artigo h1 {
       font-family:sans-serif;
       font-size:20pt;
       color:#606060;
       margin-bottom:0px;
       margin-top:0px;
}
header#cabecalho-artigo h2 {
    font-size:13pt;
    color:#cecece;
    background-color:#ffffff;
    margin:0px;

}
header#cabecalho-artigo h3 {
    font-size:12pt;
    color:#606060;

}

.direita{
    text-align:right;

}